/*#####################################################################################################################*/
/* ------------------------------------------- Własny CSS -------------------------------------------------------------*/ 
/*#####################################################################################################################*/

/*#####################################################################################################################*/
/* Główne*/
/*#####################################################################################################################*/

body{
	font-family: 'Lato', sans-serif;
	color: #34495e;
	background-color: #ffffff;
}

/*#####################################################################################################################*/
/* Typografia */
/*#####################################################################################################################*/

h1,h2,h3,h4,h5,h6{
	color: #5c6166;
	font-weight: 300;
}
h1{
	font-size: 6rem;
}
h2{
	font-size: 4rem;
	line-height: 6rem; /*odstęp pomiędzy liniami*/
}
h3{
	font-size: 2.5rem;
	line-height: 3rem; /*odstęp pomiędzy liniami*/
}
h4{
	font-size: 2rem;
	line-height: 3rem; /*odstęp pomiędzy liniami*/
	color: #a4abb3;
}
.glyphicon{
	color: #6dbcdb;
}

/*#####################################################################################################################*/
/* Menu Górne*/
/*#####################################################################################################################*/

#menu{
	background-color: #2c3e50;
}
.navbar{
	background-color: #2c3e50;
	font-size: 1.5rem;
	color: #ffffff;
	border-color: #2c3e50;
	padding-top: 3rem;
}
.navbar-outer{
	width: 1200px;
}
.navbar-inverse .navbar-nav>li > a{
	color: #ffffff;
	margin-left: 5px;
	line-height: 1rem;
	border: 1px solid transparent;
}
.navbar-inverse .navbar-nav>li > a:hover{
	color:#fc4349;
	display: block;
	border-color: #fc4349;
	border-radius: 4px; /*zaokraglenie navigacji*/
	transition: all 0.7s ease; /*efekt chmurzenia  zmiany koloru borderu przy najechaniu*/
}
.navbar-inverse .navbar-nav> .active > a{ /*dla elementu listu active - czyli home*/
	display: block;
	border-color: #ffffff;
	background-color: #2c3e50;
	border-radius: 4px; /*zaokraglenie navigacji*/
}
.navbar-inverse .navbar-nav> .active > a:hover{
	background-color: #2c3e50;
}
#logo{
	display: block;
	float: none;
	margin-top: -1rem;
}
/*#####################################################################################################################*/
/* Efekt Carousel pełna szerokośc okna */
/*#####################################################################################################################*/
#pokaz-slajdow{
	padding-top: 9rem; 
}
.carousel .item{
	width: 100%;
	max-height: 900px;
}
.carousel .item img{
	width: 100%;
	max-height: 900px;
}
.carousel-caption{
	top:100px;
	bottom: auto;
}
.carousel-caption h2{
	text-transform: uppercase; /* CapsLock*/
	font-weight: 600; /*poszerzenie, wytłuszczenie*/
	line-height: 8rem; /*interlinia*/
	color: #ffffff;
}
.carousel-caption p{
	font-size: 2.5rem;
	font-weight: 300;
}
/*#####################################################################################################################*/
/* Nowosci*/
/*#####################################################################################################################*/
.naglowek_czerwony{
	color: #fc4349;
}
a:hover{
	text-decoration: none; /* nie bedzie podkreslenia dla wszystkich linków*/
}
#nowosci{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.nowosci_panel{
	text-align: left;
	padding-bottom: 3rem;
	border-bottom: solid 1px #e5e5e5;
	
}
.nowosci_panel:hover{
	background-color: #f7f8fa;
	
}

/*#####################################################################################################################*/
/* O nas */
/*#####################################################################################################################*/

#onas{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.onas_naglowek{
	margin-bottom: 4rem;
}
.thumbnail{
	background-color: #1abc9c;
	border-radius: 6px;
	padding: 2rem;
}
.thumbnail h3{
	color:#ffffff;
}
.thumbnail p{
	color:#ffffff;
	font-size: 1.5rem;
}
/*#####################################################################################################################*/
/* Liczby */
/*#####################################################################################################################*/

#liczby{
	padding-top: 7rem;
	padding-bottom: 3rem;
	background-color: #6dbcdb;
}
#liczby h1,
#liczby h5{
	color: #6dbcdb;
}
#liczby h3{
	color: #ffffff;
}
.liczby_kafelek{
	background-color: #ffffff;
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-bottom: 2rem;
	text-align: center;
	border-radius: 0.4rem;
}

/*#####################################################################################################################*/
/* Zespół */
/*#####################################################################################################################*/

#zespol{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.zespol_naglowek{
	margin-bottom: 5rem;
}
.nav-pills>li{
	float:none; /*float jest left,right i none. jak none to domyslnie jest na srodku, ale widac to dopiero jak jest tez display:inline-block*/
	padding-left: 1rem;
	display: inline-block;
}
.nav-pills>li>a{
	color:#fc4349;
	border: 1px solid #fc4349;
}
.nav-pills>li>a:hover{
	background-color: #ffffff;
	border: 1px solid #fc4349;
}
.nav-pills > li.active > a,			/* dla buttona listy w tym momencie aktywnej- gdy najedziemy i klikniemy*/
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
	color: #ffffff;
	border: 1px solid #fc4349;
	background-color: #fc4349;
}
.nav-pills{
	padding-bottom: 2rem;
	text-align: center;
}
.zespol_ikonki img{
	text-align: center;
	position:relative;
	margin-left:auto;
	margin-right: auto;
}
.zespol_ikonki a:hover span{/* animacja ikonek*/
	-webkit-animation: rubberBand .8s;
	animation: rubberBand .8s;
}
.zespol_przyciski a:hover{
	-webkit-animation: rotateOut .5s;
	animation: rotateOut .5s;
}
/*#####################################################################################################################*/
/* Współpracownicy */
/*#####################################################################################################################*/
#wspolpracownicy{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;

}
.wspolpracownicy_foto{
	padding: 1.7rem;
	width: 26rem;
	text-align: center;
	position:relative;
	margin-left:auto;
	margin-right: auto;
}
.wspolpracownicy_naglowek{
	margin-bottom: 5rem;
}
#wspolpracownicy a:hover img{   /*animacja zdjec*/
	-webkit-animation: pulse .8s;
	animation: pulse .8s;
}
#wspolpracownicy a:hover span{/* animacja ikon*/
	-webkit-animation: flip .5s;
	animation: flip .5s;
}


/*#####################################################################################################################*/
/* Kursy */
/*#####################################################################################################################*/
#kursy{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.kursy_naglowek{
	padding-bottom: 5rem;
}
.kursy_zdjecia{
	margin-bottom: 2rem;
}
.kursy_zdjecia a img{
	text-align: center;
	position:relative;
	margin-left:auto;
	margin-right: auto;
}
.kursy_zdjecia a:hover img{
	-webkit-animation: pulse .5s;
	animation: pulse .5s;
	opacity: 0.8;/*efekt zachmurzenia*/
}

/*#####################################################################################################################*/
/* Klienci */
/*#####################################################################################################################*/

#klienci{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
	height: 40rem;
	background-color: black;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	background: url('../images/klienci_tlo.jpg') repeat 0 1000px fixed; /*fixed - sprawia ze jest zdj na sztywno*/
}
#klienci h2{
	color: white;
	margin-bottom: 3rem;
}

/*#####################################################################################################################*/
/* Promocje */
/*#####################################################################################################################*/

#promocje{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.promocje_naglowek{
	padding-bottom: 5rem;
}
#promocje h5,p{
	text-align: left;
	margin-top: 4rem;
}
#promocje img{
	text-align: center;
	position:relative;
	margin-left:auto;
	margin-right: auto;
}

/*#####################################################################################################################*/
/* Wyprzedaż */
/*#####################################################################################################################*/
#wyprzedaz{
	padding-top: 7rem;
	padding-bottom: 3rem;
	text-align: center;
}
.wyprzedaz_naglowek{
	padding-bottom: 5rem;
}
.wyprzedaz_kafelek_naglowek{
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	background-color: #ecf0f1;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}
.wyprzedaz_zdjecie{ /* wysrodkowanie zdj- oprocz text-align potrzbne margin: auto*/
	position:relative; 
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}
.wyprzedaz_kafelek_opis{
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	background-color: #e4e4e4;
	margin-bottom: 2rem;
}
#wyprzedaz a:hover{
	-webkit-animation: pulse .5s;
	animation: pulse .5s;
}
/*#####################################################################################################################*/
/* Kontakt */
/*#####################################################################################################################*/
 
 #kontakt{
	padding-top: 15rem;
	padding-bottom: 15rem;
	text-align: left;
}
.form-group a:hover{
	-webkit-animation: wobble .7s;
	animation: wobble .7s;
}
/*#####################################################################################################################*/
/* Stopka */
/*#####################################################################################################################*/
 #stopka{
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: left;
	background-color: black;
	color: white;
}
#stopka h4{
	color: white;
}
#stopka img{
	float:right;
	margin-right: 2rem;
	width:4rem;
}